.profile {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__title {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    margin-top: 77px;
}

.profile__form {
    margin: 0;
    margin-top: 123px;
}

.profile__input-container {
    width: 410px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #424242;
}

.profile__input-container:last-of-type {
    border-bottom: 0;
    padding: 16px 0 0 0;
}

.profile__input-name {
    width: 141px;
    color: #FFF;
    font-size: 11px;
    font-weight: 500;
    line-height: normal;
}

.profile__input {
    width: 100%;
    height: 15px;
    font-size: 11px;
    line-height: 13px;
    font-weight: 400;
    color: #fff;
    text-align: right;
    background-color: transparent;
    border: none;
    padding: 5px;
    margin: 6px;
    margin-right: 0;
}

.profile__input:focus {
    outline: 1px solid #c0c0c0;
    border-radius: 3px;
}

.porfile__btn-container {
    display: flex;
    flex-direction: column;
}

.profile__btn-edit {
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    background-color: transparent;
    border: none;
    margin: 220px 0 16px 0;
    padding: 0;
    cursor: pointer;
}

.profile__btn-edit:hover {
    opacity: .7;
}

.profile__btn-text {
    color: #EE3465;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
    border: none;
}

.profile__btn-text {
    opacity: .7;
}

.profile__validation-error {
    display: block;
    height: 10px;
    color: #FF004C;
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    line-height: normal;
    padding: 0 0 8px;
    margin: 0;
    visibility: hidden;
    margin-top: 2px;
}

.profile__validation-error_active {
    visibility: visible;
}

.profile__error-message {
    display: block;
    height: 10px;
    color: #FF004C;
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    line-height: normal;
    padding: 0;
    margin: 0;
    margin-top: 180px;
    margin-bottom: 20px;
    visibility: hidden;
}

.profile__submit-button {
    width: 100%;
    height: 45px;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    padding: 0;
    border: none;
    border-radius: 3px;
    background: rgb(66, 133, 244);
    cursor: pointer;
}

.profile__submit-button:hover {
    opacity: .7;
}

.profile__submit-button_invalid {
    background: rgb(66, 133, 244);
    border-radius: 3px;
    color: #fff;
    width: 100%;
    height: 45px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    padding: 0;
    border: none;
    border-radius: 3px;
    opacity: .6;
}



@media screen and (max-width: 768px) {
    .profile__title {
        margin-top: 232px;
    }

    .profile__form {
        margin-top: 96px;
    }

    .profile__btn-edit {
        margin-top: 210px;
    }

    .profile__error-message {
        margin-top: 177px;
    }
}

@media screen and (max-width: 450px) {
    .profile {
        padding: 0 30px 40px 30px;
    }

    .profile__title {
        margin-top: 70px;
    }

    .profile__form {
        margin-top: 80px;
    }

    .profile__input-container {
        width: 260px;
    }

    .profile__btn-edit {
        margin-top: 378px;
        font-size: 12px;
    }

    .profile__btn-text {
        font-size: 12px;
    }

    .profile__error-message {
        margin-top: 345px;
        font-size: 10px;
    }
}