.header {
    padding: 18px 70px;
    max-width: 1140px;
}

.header__container-content{
    max-width: 1140px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.header__logo {
    width: 38px;
    min-height: 38px;
    background-image: url(../../images/logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
    cursor: pointer;
}

.header__logo:hover {
    opacity: .7;
}



@media screen and (max-width: 768px) {
    .header {
        padding: 17px 30px;
    }
}

@media screen and (max-width: 370px) {
    .header {
        padding: 18px 14px;
    }
}