.header {
    padding: 18px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_type_logged-in {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 70px;
    background: none;
}

.header__logo {
    width: 38px;
    min-height: 38px;
    background-image: url(../../images/logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
    cursor: pointer;
}

.header__logo:hover {
    opacity: .7;
}

.header__container-auth {
    display: flex;
    align-items: center;
}

.header__login-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    width: 76px;
    height: 32px;
    background-color: #3DDC84;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
}

.header__login-link:hover {
    opacity: .7;
}

.header__register-link {
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    background-color: transparent;
    border: none;
    margin-right: 30px;
    padding: 0;
    text-decoration: none;
}

.header__register-link:hover {
    opacity: .7;
}

.header__container-nav {
    display: flex;
    align-items: center;
}

.header__saved-films-link {
    color: #FFF;
    text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 50px;
}

.header__saved-films-link:hover {
    opacity: .7;
}

.header__films-link {
    color: #FFF;
    text-align: right;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    margin-right: 20px;
}

.header__films-link:hover {
    opacity: .7;
}

.header__films-link_active {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    margin-right: 20px;
    text-decoration: none;
    color: #FFF;
}

.header__container-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 2px solid rgb(170, 170, 170, .2);
    width: 100px;
    height: 32px;
    margin-left: 29px;
}

.header__container-profile:hover {
    opacity: .7;
}

.header__profile-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.header__profile-link-text {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    color: #FFF;
    margin: 0;
}

.header__profile-link-logo {
    width: 12px;
    height: 14px;
    background-image: url(../../images/profile-header-logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
    margin-right: 7px;
}

.header__menu {
    background: transparent;
    background-image: url(../../images/navigation-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 44px;
    height: 44px;
    display: none;
    border: none;
    padding: 0;
    transition: opacity 0.5s linear;
    cursor: pointer;
    opacity: 0.6;
}

@media screen and (max-width: 768px) {
    .header {
        padding: 17px 30px;
    }

    .header__films-link {
        display: none;
    }

    .header__saved-films-link {
        display: none;
    }

    .header__container-profile {
        display: none;
    }

    .header__menu {
        display: block;
    }
}

@media screen and (max-width: 370px) {
    .header {
        padding: 18px 14px;
    }

    .header__register-link {
        font-size: 10px;
        margin-right: 14px;
    }

    .header__login-link {
        width: 54px;
        height: 26px;
        font-size: 10px;
    }

    .header__menu {
        width: 40px;
        height: 39px;
    }
}