.register {
    margin: 0 auto;
    width: 396px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
}

.register__logo {
    width: 38px;
    height: 38px;
    margin-top: 70px;
}

.register__title {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 41px 0 38px;
}

.register__form {
    display: flex;
    flex-direction: column;
}

.register__input-name {
    color: #8B8B8B;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.register__input {
    height: 27px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #424242;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFF;
    background-color: transparent;
    padding: 0;
    padding-bottom: 5px;
    margin: 0;
}

.register__input:focus {
    outline: 1px solid aliceblue;
}

.register__error {
    margin: 6px 0 6px;
    height: 12px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #FF3055;
    padding: 0;
    visibility: hidden;
}

.register__error_active {
    visibility: visible;
}

.register__submit-button {
    padding: 0;
    width: 396px;
    height: 45px;
    cursor: pointer;
    background-color: #4285F4;
    border: none;
    border-radius: 3px;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 127px;
}

.register__submit-button_inactive {
    padding: 0;
    width: 396px;
    height: 45px;
    background-color: #4285F4;
    border: none;
    border-radius: 3px;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 127px;
    opacity: .6;
}

.register__submit-button:hover {
    opacity: .7;
}

.register__bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 17px;
}

.register__subtitle {
    color: #8B8B8B;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    margin-right: 6px;
}

.register__link {
    color: #4285F4;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .register__title {
        margin-bottom: 40px;
    }

    .register__logo {
        margin-top: 231px;
    }
}

@media screen and (max-width: 450px) {
    .register {
        align-items: center;
        padding: 30px;
        padding-top: 0;
        width: 260px;
    }

    .register__logo {
        margin-top: 56px;
    }

    .register__title {
        margin: 50px 0 80px;
    }

    .register__submit-button {
        width: 260px;
        font-size: 12px;
        margin-top: 216px;
    }

    .register__subtitle {
        font-size: 12px;
    }

    .register__link {
        font-size: 12px;
    }

    .register__bottom {
        margin-top: 15px;
    }
}